<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/content/css/site.css"/>
</head>
<body>
    <h1>Collatz Series Calculator</h1>
    <div id="mainDiv">
        @RenderBody()
    </div>
</body>
</html>
